<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Control Panel</title>
    <link rel="stylesheet" href="/css/adminIndex.css">
</head>

<body>
    <div class="parent-container">
        <div class="container">
            <header>
                <h1>Admin Control Panel</h1>
            </header>
            <div class="button-container">
                <a href="/admin/mass-adjust" class="button">Mass Adjust</a>
                <a href="/admin/update-friends" class="button">Update Friends</a>
                <a href="/admin/update-episodes" class="button">Update Episodes</a>
                <a href="/admin/update-agent-data" class="button">Update Agent Data</a>
                <a href="/admin/update-map-data" class="button">Update Map Data</a>
                <a href="/admin/update-leaderboard" class="button">Update Leaderboard</a>
                <a href="/admin/batch-add" class="button">Batch Add</a>
            </div>
        </div>
        <div class="container second-container">
            <div class="button-container">
                <a href="/admin/mass-update" class="button">Mass Update</a>
            </div>
        </div>
    </div>
</body>

</html>
