<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/agentLookup.css">
    <title>Agent Lookup</title>
</head>
<body>
    <div class="container">
        <form action="/agent/" method="post" class="form">
        <% if (failed){ %>
            <p style="color: red;">Please use an agent from the list</p>
            <% } %>
            <div class="input-group">
                <select name="agent" class="input-field">
                    <% for (a in agents){ %>
                        <option value="<%= agents[a] %>"><%= agents[a] %></option>
                        <% } %>
                </select>
                <button type="submit" class="submit-button">Lookup</button>
            </div>
        </form>
    </div>
</body>
