<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valorant Stats Hub</title>
    <link rel="stylesheet" href="/css/index-style.css">
</head>

<body>
    <div class="parent-container">
        <div class="container">
            <header>
                <h1>Valorant Stats Hub</h1>
            </header>
            <div class="button-container">
                <a href="/user/lookup" class="button">User Lookup</a>
                <a href="/user-by-act/lookup" class="button">User Lookup By Act</a>
                <a href="/userBatch/lookup" class="button">Batch User Lookup</a>
                <a href="/usermatchsearch" class="button">User Match Search</a>
                <a href="/match/lookup" class="button">Match Lookup</a>
                <a href="/agent/" class="button">Agent Stats</a>
                <a href="/agent/all" class="button">All Agent Stats</a>
                <a href="/map/all_lookup" class="button">All Map Stats</a>
                <a href="/map/lookup" class="button">Map Stats</a>
                <a href="/misc/" class="button">Misc Stats</a>
            </div>
        </div>
        <div class="container second-container">
            <div class="button-container">
                <a href="/admin/mass-adjust" class="button">Mass Adjust</a>
                <a href="/admin/boys" class="button">Update Friends</a>
                <a href="/admin/mass-update" class="button">Mass Update</a>
            </div>
        </div>
    </div>
</body>

</html>