<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mass-adjust-style.css">
  </head>
  <body>
    <div class="container">
      <form action="/user/mass-adjust" method="post" class="form">
        <div class="input-group">
          <input placeholder="Password" name="pw" class="input-field">
          <button type="submit" class="submit-button">Run</button>
        </div>
      </form>
    </div>
  </body>