<head></head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maps</title>
    <link rel="stylesheet" href="/css/<%= 'lookup-style.css' %>">
  </head>
  
  <body>
      <div class="container">
          <form action="/match/lookup" method="POST" class="form">
              <div class="input-group">
              <input class="input-field" name="matchid" placeholder="Match ID">
          </div>
          <% if (failed){ %>
            <p id="not-found">Match not found</p>
            <% } %>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>
    </body>