<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= 'Mass Add' %>
    </title>
    <link rel="stylesheet" href="/css/<%= 'lookup-style.css' %>">
  </head>
  
  <body>
      <div class="container">
        <form action="/match/massAdd" method="POST" class="form">
          <div class="input-group">
            <input name="user" placeholder="Username" class="input-field">
            <input name="tag" placeholder="Tag Line" class="input-field">
          </div>
          <% if (failed){ %>
            <p id="not-found">User not found</p>
            <% } %>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>
    </body>