<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/css/<%= sheet %>">
</head>

<body>
  <div class="container">
    <form action="/admin/<%= key %>" method="post" class="form">
      <div class="input-group">
        <input placeholder="Iterations" name="iter" class="input-field">
        <button type="submit" class="submit-button">Run</button>
      </div>
    </form>
  </div>
</body>